div
  img(src="http://redis.io/images/redis.png")
  form(action='/login', method='post')
    input(type='text', placeholder='E-mail address', name='mail')
    input(type='password', placeholder='Password', name='password')
    button(type="submit") Sign In

div
  h2
  strong New to WikiRedis?
  form(action='/signup', method='post')
    input(type='text', name='mail', placeholder='E-mail address')
    input(type='password', name='password', placeholder='Password')
    button(type='submit') Sign Up
