&.33%
  background-position: 0 -20px
  background-position: 0 -20px
  background-position: 0 -20px
  background-position: 0 -20px
  background-position: 0 -20px

&.67%
  background-position: 0 -40px
  background-position: 0 -40px
  background-position: 0 -40px
  background-position: 0 -40px
  background-position: 0 -40px

&.33%
  background-position: 0 -80px
  background-position: 0 -80px
  background-position: 0 -80px
  background-position: 0 -80px
  background-position: 0 -80px

&.67%
  background-position: 0 -100px
  background-position: 0 -100px
  background-position: 0 -100px
  background-position: 0 -100px
  background-position: 0 -100px

&.33%
  background-position: 0 -140px
  background-position: 0 -140px
  background-position: 0 -140px
  background-position: 0 -140px
  background-position: 0 -140px

&.67%
  background-position: 0 -160px
  background-position: 0 -160px
  background-position: 0 -160px
  background-position: 0 -160px
  background-position: 0 -160px

&.33%
  background-position: 0 -200px
  background-position: 0 -200px
  background-position: 0 -200px
  background-position: 0 -200px
  background-position: 0 -200px

&.67%
  background-position: 0 -220px
  background-position: 0 -220px
  background-position: 0 -220px
  background-position: 0 -220px
  background-position: 0 -220px

@font-face
  font-family: 'Lily Script One'
  font-style: normal
  font-weight: 400
  src: local('Lily Script One'),local('LilyScriptOne-Regular'),url("https://themes.googleusercontent.com/static/fonts/lilyscriptone/v1/uPWsLVW8uiXqIBnE8ZwGPAaS65eljNVkG0R6HbhLwtY.woff") format('woff')
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: local('Open Sans'),local('OpenSans'),url("http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format('woff')
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 700
  src: local('Open Sans Bold'),local('OpenSans-Bold'),url("http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff") format('woff')

body,html
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden

a
  color: #4b525b
  text-decoration: none
  cursor: pointer
  img
    border: 0
  &:hover
    text-decoration: underline

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
  display: block

body
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  background: #f8fafb
  color: #4b525b
  font: 13px/1.7em "Helvetica Neue",Helvetica,Arials,sans-serif
  overflow: hidden
  position: absolute
  left: 0
  bottom: 0
  right: 0
  top: 0

*
  -webkit-tap-highlight-color: rgba(0,0,0,0)

h1,h2,h3,h4,h5,h6
  font: 23px/1.5em 'Open Sans',"Helvetica Neue",Helvetica,Arials,sans-serif
  font-weight: 700
  margin: 0
  padding: 0

h2
  font-size: 21px

h3
  font-size: 19px

h4
  font-size: 17px

h5
  font-size: 15px

h6
  font-size: 13px

p
  color: #4b525b
  line-height: 1.6em
  margin: 0

input[type=text],input[type=url],input[type=email],input[type=datetime-local]
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  -o-appearance: none
  appearance: none
  box-sizing: border-box
  display: block
  width: 100%
  height: 32px
  padding: 0 10px
  margin: 0
  -webkit-user-select: text
  -moz-user-select: text
  -ms-user-select: text
  -o-user-select: text
  user-select: text
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -ms-border-radius: 5px
  -o-border-radius: 5px
  border-radius: 5px
  border: 1px solid #dadfe5
  font: 13px "Helvetica Neue",Helvetica,Arials,sans-serif
  color: #4b525b
  outline: 0
  -webkit-transition: border .2s 0,box-shadow .2s 0,height .2s 0
  -moz-transition: border .2s 0,box-shadow .2s 0,height .2s 0
  -ms-transition: border .2s 0,box-shadow .2s 0,height .2s 0
  -o-transition: border .2s 0,box-shadow .2s 0,height .2s 0
  transition: border .2s 0,box-shadow .2s 0,height .2s 0
  -webkit-box-shadow: rgba(0,0,0,0.03) 0 1px 1px inset
  -moz-box-shadow: rgba(0,0,0,0.03) 0 1px 1px inset
  -ms-box-shadow: rgba(0,0,0,0.03) 0 1px 1px inset
  -o-box-shadow: rgba(0,0,0,0.03) 0 1px 1px inset
  box-shadow: rgba(0,0,0,0.03) 0 1px 1px inset

input[type=text]:focus,input[type=url]:focus,input[type=email]:focus,input[type=datetime-local]:focus
  outline: 0
  border-color: #e36464 #e77a7a #eb9090 #e77a7a
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  -ms-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  -o-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)

textarea
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  -o-appearance none
  appearance none
  display block
  width 100%
  margin 0
  padding 10px 12px
  -webkit-border-radius 5px
  -moz-border-radius 5px
  -ms-border-radius 5px
  -o-border-radius 5px
  border-radius 5px
  box-sizing border-box
  -webkit-transition border .3s 0 ease-in,box-shadow .3s 0 ease-in
  -moz-transition border .3s 0 ease-in,box-shadow .3s 0 ease-in
  -ms-transition border .3s 0 ease-in,box-shadow .3s 0 ease-in
  -o-transition border .3s 0 ease-in,box-shadow .3s 0 ease-in
  transition border .3s 0 ease-in,box-shadow .3s 0 ease-in
  border 1px solid #dadfe5
  color #4b525b
  font 13px "Helvetica Neue",Helvetica,Arials,sans-serif
  outline 0
  resize vertical

textarea:focus,textarea:active
  outline 0
  border-color #e36464 #e77a7a #eb9090 #e77a7a
  -webkit-box-shadow inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  -moz-box-shadow inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  -ms-box-shadow inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  -o-box-shadow inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)
  box-shadow inset 0 1px 0 rgba(0,0,0,0.1),0 0 5px rgba(211,38,38,0.4)

::-webkit-input-placeholder
  color #a1a8b2

::-moz-placeholder
  color #a1a8b2

.btn
  display block
  padding 0 9px
  height 24px
  background-color #fff
  background-image -webkit-linear-gradient(rgba(255,255,255,0),#f0f2f6 90%,#e5e8ee)
  background-image -moz-linear-gradient(rgba(255,255,255,0),#f0f2f6 90%,#e5e8ee)
  background-image -ms-linear-gradient(rgba(255,255,255,0),#f0f2f6 90%,#e5e8ee)
  background-image -o-linear-gradient(rgba(255,255,255,0),#f0f2f6 90%,#e5e8ee)
  background-image linear-gradient(rgba(255,255,255,0),#f0f2f6 90%,#e5e8ee)
  -webkit-box-shadow 0 1px 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 0 #fff
  -moz-box-shadow 0 1px 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 0 #fff
  -ms-box-shadow 0 1px 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 0 #fff
  -o-box-shadow 0 1px 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 0 #fff
  box-shadow 0 1px 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 0 #fff
  -webkit-border-radius 4px
  -moz-border-radius 4px
  -ms-border-radius 4px
  -o-border-radius 4px
  border-radius 4px
  border 1px solid rgba(152,164,184,0.8)
  border-bottom-color #a2adbf
  border-top-color rgba(152,164,184,0.6)
  cursor pointer
  outline 0
  color #707885
  line-height 24px
  text-shadow 0 1px 0 #fff
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none
  text-decoration none
  font 12px "Helvetica Neue",Helvetica,Arials,sans-serif
  font-weight bold
  &:hover
    text-decoration none
  &:not(:disabled):active
    background-image -webkit-linear-gradient(#e5e8ee,#f0f2f6)
    background-image -moz-linear-gradient(#e5e8ee,#f0f2f6)
    background-image -ms-linear-gradient(#e5e8ee,#f0f2f6)
    background-image -o-linear-gradient(#e5e8ee,#f0f2f6)
    background-image linear-gradient(#e5e8ee,#f0f2f6)
    -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    border-bottom-color rgba(152,164,184,0.6)
    border-top-color #98a4b8
  &:disabled
    opacity .6

.submit-btn
  display block
  height 30px
  padding 0 14px
  -webkit-border-radius 5px
  -moz-border-radius 5px
  -ms-border-radius 5px
  -o-border-radius 5px
  border-radius 5px
  border 1px solid rgba(204,51,0,0.8)
  border-bottom-color #c30
  border-top-color rgba(204,51,0,0.6)
  background-image -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -moz-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -ms-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -o-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -webkit-font-smoothing antialiased
  background-color #d32626
  color #fff
  cursor pointer
  font 14px "Helvetica Neue",Helvetica,Arials,sans-serif
  font-weight bold
  line-height 28px
  text-shadow 0 -1px 0 rgba(0,0,0,0.3)
  &:active
    background-image -webkit-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
    background-image -moz-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
    background-image -ms-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
    background-image -o-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
    background-image linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
    -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
    border-bottom-color rgba(204,51,0,0.6)
    border-top-color #c30
    color rgba(255,255,255,0.9)
  &:disabled
    opacity .6

.app
  -webkit-box-shadow #2d3440 0 0 0 1px,rgba(0,0,0,0.5) 0 1px 2px,rgba(0,0,0,0.5) 0 0 4px
  -moz-box-shadow #2d3440 0 0 0 1px,rgba(0,0,0,0.5) 0 1px 2px,rgba(0,0,0,0.5) 0 0 4px
  -ms-box-shadow #2d3440 0 0 0 1px,rgba(0,0,0,0.5) 0 1px 2px,rgba(0,0,0,0.5) 0 0 4px
  -o-box-shadow #2d3440 0 0 0 1px,rgba(0,0,0,0.5) 0 1px 2px,rgba(0,0,0,0.5) 0 0 4px
  box-shadow #2d3440 0 0 0 1px,rgba(0,0,0,0.5) 0 1px 2px,rgba(0,0,0,0.5) 0 0 4px
  background #fff
  overflow hidden
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  .vote
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    -o-user-select none
    user-select none
    &:before
      content ''
      background-repeat no-repeat
      background-image url("/assets/up-icon.png")
      background-repeat no-repeat
      background-position center center
      background-size 9px 10px
      margin 0
      width 9px
      height 10px
      display inline-block
  .posts-landing
    background #f8fafb
    position relative
    height 100%
    -webkit-box-shadow inset 0 0 1px rgba(0,0,0,0.1)
    -moz-box-shadow inset 0 0 1px rgba(0,0,0,0.1)
    -ms-box-shadow inset 0 0 1px rgba(0,0,0,0.1)
    -o-box-shadow inset 0 0 1px rgba(0,0,0,0.1)
    box-shadow inset 0 0 1px rgba(0,0,0,0.1)
    .wrapper
      position absolute
      left 50%
      top 50%
      margin -90px 0 0 -162px
    article
      &.splash
        display block
        height 123px
        line-height 123px
        box-sizing border-box
        text-align center
    nav
      position absolute
      right 15px
      top 15px
      a
        display block
        background-position center
        float right
        margin-left 11px
        &.twitter
          width 23px
          height 19px
          background-repeat no-repeat
          background-image url("/assets/twitter.png")
    .digest
      width 310px
      padding 15px
      background #fff
      -webkit-border-radius 6px
      -moz-border-radius 6px
      -ms-border-radius 6px
      -o-border-radius 6px
      border-radius 6px
      border 1px solid #d7e1e7
      text-align left
      -webkit-box-shadow 0 1px 2px rgba(0,0,0,0.07)
      -moz-box-shadow 0 1px 2px rgba(0,0,0,0.07)
      -ms-box-shadow 0 1px 2px rgba(0,0,0,0.07)
      -o-box-shadow 0 1px 2px rgba(0,0,0,0.07)
      box-shadow 0 1px 2px rgba(0,0,0,0.07)
      box-sizing border-box
      margin 30px auto
      input[type=email]
        margin-top 15px
        width 184px
        display inline-block
      button
        margin-top 10px
        display inline-block
        height 32px
        line-height 32px
        font-size 12px
        padding 0 12px
        -webkit-box-shadow none
        -moz-box-shadow none
        -ms-box-shadow none
        -o-box-shadow none
        box-shadow none
        margin-left 5px
      .after
        display none
        p
          text-align center
          font-weight bold
      &.subscribed
        .before
          display none
        .after
          display block
    &:not(.showDigest)
      .digest
        display none
    &.showDigest
      .wrapper
        margin-top -151px
  .posts-show
    position absolute
    left 415px
    top 0
    bottom 0
    right 0
    box-sizing border-box
    overflow-y auto
    -webkit-overflow-scrolling touch
    .wrap
      margin 0 auto
      max-width 825px
      min-width 275px
      box-sizing border-box
    .vote
      cursor pointer
    .meta-point
      font-size 12px
      color #a1a8b2
      a
        color #a1a8b2
      &:after
        content ' · '
        font-size 13px
        color #77808c
        line-height 1.7em
      &:last-child
        &:after
          display none
    header
      box-sizing border-box
      position relative
      padding 20px 30px
      overflow hidden
      .icon
        float left
        display block
        height 98px
        width 98px
        position relative
        margin-right 16px
        img
          -webkit-border-radius 5px
          -moz-border-radius 5px
          -ms-border-radius 5px
          -o-border-radius 5px
          border-radius 5px
          display block
          height 100%
          width 100%
        &:after
          content ''
          -webkit-border-radius 5px
          -moz-border-radius 5px
          -ms-border-radius 5px
          -o-border-radius 5px
          border-radius 5px
          -webkit-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          -moz-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          -ms-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          -o-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          display block
          left 0
          position absolute
          top 0
          width 100%
          height 100%
      .title
        line-height 28px
        margin-bottom 4px
        a
          color #3d525e
          &:hover
            color #d32626
            text-decoration none
      .summary
        border-top 1px solid #ebeef2
        margin-top 20px
        padding-top 7px
        position relative
        &:before
          content 'Summary'
          font-family "Helvetica Neue",Helvetica,Arials,sans-serif
          font-size 11px
          font-weight 700
          color #77808c
          text-transform uppercase
          position absolute
          top -13px
          background #fff
          padding-right 6px
      &.icon-present
        section
          margin-left 114px
      &.icon-error
        .icon
          img
            display none
  .sidebar
    position absolute
    left 0
    top 0
    bottom 0
    overflow hidden
    width 415px
    box-sizing border-box
    border-right 1px solid #dadfe5
    *[hidden]
      display none
    header
      position absolute
      top 0
      left 0
      right 0
      overflow hidden
      height 52px
      line-height 52px
      -webkit-box-shadow inset 0 -1px 0 #d7e1e7
      -moz-box-shadow inset 0 -1px 0 #d7e1e7
      -ms-box-shadow inset 0 -1px 0 #d7e1e7
      -o-box-shadow inset 0 -1px 0 #d7e1e7
      box-shadow inset 0 -1px 0 #d7e1e7
    .list
      position absolute
      top 52px
      left 0
      right 0
      bottom 62px
      overflow-y auto
      -webkit-overflow-scrolling touch
    footer
      position absolute
      left 0
      right 0
      bottom 0
      -webkit-box-shadow #dadfe5 0 1px 0 inset
      -moz-box-shadow #dadfe5 0 1px 0 inset
      -ms-box-shadow #dadfe5 0 1px 0 inset
      -o-box-shadow #dadfe5 0 1px 0 inset
      box-shadow #dadfe5 0 1px 0 inset
      padding 18px 17px
      .left
        float left
      .right
        float right
      .btn
        padding 0
        -webkit-box-shadow inset 0 1px 0 0 #fff
        -moz-box-shadow inset 0 1px 0 0 #fff
        -ms-box-shadow inset 0 1px 0 0 #fff
        -o-box-shadow inset 0 1px 0 0 #fff
        box-shadow inset 0 1px 0 0 #fff
        &:active
          -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
          -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
          -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
          -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
          box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
        &.config
          &:after
            content ''
            display inline-block
            width 14px
            height 14px
            background-repeat no-repeat
            background-image url("/assets/config-icon.png")
            margin 5px 9px
        &.add
          &:after
            content ''
            display block
            width 14px
            height 14px
            background-repeat no-repeat
            background-image url("/assets/add-icon.png")
            margin 5px 9px
      a
        &.avatar-btn
          .avatar
            float left
            height 26px
            width 32px
            -webkit-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(255,255,255,0.3) 0 1px 0 1px inset
            -moz-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(255,255,255,0.3) 0 1px 0 1px inset
            -ms-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(255,255,255,0.3) 0 1px 0 1px inset
            -o-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(255,255,255,0.3) 0 1px 0 1px inset
            box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(255,255,255,0.3) 0 1px 0 1px inset
            -webkit-border-radius 5px 0 0 5px
            -moz-border-radius 5px 0 0 5px
            -ms-border-radius 5px 0 0 5px
            -o-border-radius 5px 0 0 5px
            border-radius 5px 0 0 5px
            background-position center center
            background-repeat no-repeat
            background-size cover
            box-sizing border-box
          &:active
            .avatar
              -webkit-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(0,0,0,0.5) 0 1px 5px 1px inset
              -moz-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(0,0,0,0.5) 0 1px 5px 1px inset
              -ms-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(0,0,0,0.5) 0 1px 5px 1px inset
              -o-box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(0,0,0,0.5) 0 1px 5px 1px inset
              box-shadow rgba(0,0,0,0.5) 0 0 0 1px inset,rgba(0,0,0,0.5) 0 1px 5px 1px inset
            .btn
              background-image -webkit-linear-gradient(#e5e8ee,#f0f2f6)
              background-image -moz-linear-gradient(#e5e8ee,#f0f2f6)
              background-image -ms-linear-gradient(#e5e8ee,#f0f2f6)
              background-image -o-linear-gradient(#e5e8ee,#f0f2f6)
              background-image linear-gradient(#e5e8ee,#f0f2f6)
              -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
              -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
              -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
              -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
              box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
              border-bottom-color rgba(152,164,184,0.6)
              border-top-color #98a4b8
          .btn
            float right
            -webkit-border-radius 0 5px 5px 0
            -moz-border-radius 0 5px 5px 0
            -ms-border-radius 0 5px 5px 0
            -o-border-radius 0 5px 5px 0
            border-radius 0 5px 5px 0
            border-left 0
            -webkit-box-shadow none
            -moz-box-shadow none
            -ms-box-shadow none
            -o-box-shadow none
            box-shadow none
    .logo
      display block
      float left
      color #d32626
      font-family "Lily Script One",cursive,"Helvetica Neue",Helvetica,Arials,sans-serif
      font-size 24px
      margin 0 16px
      &:hover
        text-decoration none
    nav
      float right
      height 14px
      line-height 14px
      margin 19px 16px
      .clip
        float left
        width 100px
      .clipped
        width 207px
        float left
        -webkit-transition -webkit-transform 200ms ease
        -moz-transition -webkit-transform 200ms ease
        -ms-transition -webkit-transform 200ms ease
        -o-transition -webkit-transform 200ms ease
        transition -webkit-transform 200ms ease
        -webkit-transition -moz-transform 200ms ease
        -moz-transition -moz-transform 200ms ease
        -ms-transition -moz-transform 200ms ease
        -o-transition -moz-transform 200ms ease
        transition -moz-transform 200ms ease
      .states
        float left
        -webkit-transition -webkit-transform 200ms ease
        -moz-transition -webkit-transform 200ms ease
        -ms-transition -webkit-transform 200ms ease
        -o-transition -webkit-transform 200ms ease
        transition -webkit-transform 200ms ease
        -webkit-transition -moz-transform 200ms ease
        -moz-transition -moz-transform 200ms ease
        -ms-transition -moz-transform 200ms ease
        -o-transition -moz-transform 200ms ease
        transition -moz-transform 200ms ease
        position relative
      a
        float left
        display block
        cursor pointer
        margin-right 10px
        padding-left 15px
        background-repeat no-repeat
        text-decoration none
        font-weight bold
        font-size 12px
        color #9eb1bd
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        -o-user-select none
        user-select none
        &.popular
          background-repeat no-repeat
          background-image url("/assets/popular-icon.png")
          background-size 10px 12px
          background-position 0 0
      input
        display none
        -webkit-appearance none
        -moz-appearance none
        -ms-appearance none
        -o-appearance none
        appearance none
        border 0
        background transparent
        padding 0
        margin 0
        outline 0
        box-sizing border-box
        height 14px
        line-height 14px
        width 100px
      &.search-active
        .clipped
          -webkit-transform translate3d(-100px,0,0)
          -moz-transform translate3d(-100px,0,0)
          -ms-transform translate3d(-100px,0,0)
          -o-transform translate3d(-100px,0,0)
          transform translate3d(-100px,0,0)
        input
          display block
    section
      &.state
        &:not(.active)
          display none
    &:after
      content ''
      position absolute
      pointer-events none
      overflow hidden
      left -9999px
      top -9999px
      height 1px
      width 1px
      background url("/assets/popular-icon.png"),url("/assets/popular-icon-active.png"),url("/assets/newest-icon.png"),url("/assets/newest-icon-active.png"),url("/assets/search-icon.png"),url("/assets/search-icon-hover.png")
  .user-menu
    a
      border 1px solid transparent
      color #77808c
      display block
      font-size 12px
      font-weight bold
      height 22px
      line-height 22px
      padding 0 10px
      margin 0 -1px 0 -1px
      &:hover
        color #d32626
        text-decoration none
    .divider
      background #ebeef2
      height 1px
      margin 6px 0
    &:before
      content ''
      display block
      position absolute
      height 0
      width 0
      border-top 7px solid #9eaabc
      border-right 7px solid transparent
      border-left 7px solid transparent
      bottom -7px
      left 16px
    &:after
      content ''
      position absolute
      display block
      bottom -6px
      left 17px
      height 0
      width 0
      border-top 6px solid #fff
      border-right 6px solid transparent
      border-left 6px solid transparent

@media
  all
    and
      (-webkit-min-device-pixel-ratio
        &:1
          &.5)
            .app .vote before{background-image:url("/assets/up-icon@2x.png")
            background-size inherit inherit
            .app .vote hover:before{background-image:url("/assets/up-icon-hover@2x.png")
            background-size inherit inherit
            .app .vote.voted before,.app .vote:active:before{background-image:url("/assets/up-icon-active@2x.png")
            background-size inherit inherit
            .app after{background:url("/assets/up-icon@2x.png"),url("/assets/up-icon-hover@2x.png"),url("/assets/up-icon-active@2x.png")
            .app .posts-landing nav a.twitter{background-image url("/assets/twitter@2x.png")
            background-size 23px 19px
            .app .posts-landing nav a.feed{background-image url("/assets/feed@2x.png")
            background-size 17px 18px
            .app .sidebar nav a.popular{background-image url("/assets/popular-icon@2x.png")
            background-size inherit inherit
            .app .sidebar nav a.popular active,.app .sidebar nav a.popular.active{background-image:url("/assets/popular-icon-active@2x.png")
            background-size inherit inherit
            .app .sidebar nav a.newest{background-image url("/assets/newest-icon@2x.png")
            background-size inherit inherit
            .app .sidebar nav a.newest active,.app .sidebar nav a.newest.active{background-image:url("/assets/newest-icon-active@2x.png")
            background-size inherit inherit
            .app .sidebar nav a.search{background-image url("/assets/search-icon@2x.png")
            background-size 14px 14px
            .app .sidebar footer .btn.config after{background-image:url("/assets/config-icon@2x.png")
            background-size 14px 15px
            .app .sidebar footer .btn.add after{background-image:url("/assets/add-icon@2x.png")
            background-size 14px 15px
            .app .sidebar after{background:url("/assets/popular-icon@2x.png"),url("/assets/popular-icon-active@2x.png"),url("/assets/newest-icon@2x.png"),url("/assets/newest-icon-active@2x.png"),url("/assets/search-icon@2x.png")

}.app
  .vote
    &:hover
      &:before
        background-repeat no-repeat
        background-image url("/assets/up-icon-hover.png")
  &:after
    content ''
    position absolute
    pointer-events none
    overflow hidden
    left -9999px
    top -9999px
    height 1px
    width 1px
    background url("/assets/up-icon.png"),url("/assets/up-icon-hover.png"),url("/assets/up-icon-active.png")
  .posts-landing
    nav
      a
        &.feed
          width 17px
          height 18px
          background-repeat no-repeat
          background-image url("/assets/feed.png")
    h1
      color #c9cbce
      text-shadow 0 1px rgba(255,255,255,0.9)
      font-family "Lily Script One",cursive,"Helvetica Neue",Helvetica,Arials,sans-serif
      text-transform lowercase
      font-size 90px
      font-weight normal
      margin 0 0 0 -5px
      padding 0
      -webkit-user-select none
      -moz-user-select none
      -ms-user-select none
      -o-user-select none
      user-select none
      pointer-events none
  .sidebar
    nav
      a
        &.newest
          background-repeat no-repeat
          background-image url("/assets/newest-icon.png")
          background-size 11px 12px
          background-position 0 1px
        &.search
          width 14px
          height 15px
          padding 0 0 0 5px
          margin 0
          background-position right 0
          background-repeat no-repeat
          background-repeat no-repeat
          background-image url("/assets/search-icon.png")
      .sep
        float left
        display block
        position relative
        top -1px
        height 17px
        width 1px
        background #d7e1e7
        margin-right 10px
    footer
      a
        &.avatar-btn
          display block
          -webkit-border-radius 5px
          -moz-border-radius 5px
          -ms-border-radius 5px
          -o-border-radius 5px
          border-radius 5px
          -webkit-box-shadow rgba(255,255,255,0.2) 0 1px 0 inset
          -moz-box-shadow rgba(255,255,255,0.2) 0 1px 0 inset
          -ms-box-shadow rgba(255,255,255,0.2) 0 1px 0 inset
          -o-box-shadow rgba(255,255,255,0.2) 0 1px 0 inset
          box-shadow rgba(255,255,255,0.2) 0 1px 0 inset
    .user-menu
      position absolute
      bottom 50px
      left 12px
  .user-menu
    display block
    padding 6px 0
    margin 0
    width 160px
    z-index 500
    -webkit-box-shadow rgba(0,0,0,0.15) 0 1px 2px
    -moz-box-shadow rgba(0,0,0,0.15) 0 1px 2px
    -ms-box-shadow rgba(0,0,0,0.15) 0 1px 2px
    -o-box-shadow rgba(0,0,0,0.15) 0 1px 2px
    box-shadow rgba(0,0,0,0.15) 0 1px 2px
    -webkit-border-radius 5px
    -moz-border-radius 5px
    -ms-border-radius 5px
    -o-border-radius 5px
    border-radius 5px
    border 1px solid #9eaabc
    background #fff
    list-style none
    position absolute

}.app .vote.voted:before,.app .vote:active:before
  background-repeat no-repeat
  background-image url("/assets/up-icon-active.png")

}.comments-edit
  position relative
  padding 15px 0 25px 0

.comments-edit
  section
    position relative
  textarea
    min-height 80px
  button
    position absolute
    bottom 8px
    right 7px
    -webkit-box-shadow none
    -moz-box-shadow none
    -ms-box-shadow none
    -o-box-shadow none
    box-shadow none
    opacity .6
    -webkit-transition 200ms linear opacity
    -moz-transition 200ms linear opacity
    -ms-transition 200ms linear opacity
    -o-transition 200ms linear opacity
    transition 200ms linear opacity
    &:hover
      opacity 1

.comments-list
  .comment
    padding 1px 0 0 30px
    position relative
    .avatar
      display block
      left 0
      position absolute
      top 0
      img
        -webkit-border-radius 3px
        -moz-border-radius 3px
        -ms-border-radius 3px
        -o-border-radius 3px
        border-radius 3px
        display block
        height 22px
        width 22px
      &:before
        content ""
        -webkit-border-radius 3px
        -moz-border-radius 3px
        -ms-border-radius 3px
        -o-border-radius 3px
        border-radius 3px
        -webkit-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
        -moz-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
        -ms-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
        -o-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
        box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
        display block
        height 22px
        width 22px
        position absolute
        left 0
        top 0
    .meta
      -webkit-user-select none
      -moz-user-select none
      -ms-user-select none
      -o-user-select none
      user-select none
    .user
      a
        color #d32626
        font-weight 700
    .body
      padding 2px 0 20px
      p
        margin-bottom 7px
        &:last-child
          margin-bottom 0
      blockquote
        margin 7px 0 7px 0
        padding-left 10px
        border-left 2px solid #ebeef2
      a
        text-decoration underline
        cursor pointer
    &.editing
      & > .body
        display none
      & > .comments-edit
        display block
    &.replying
      & > .comments-new-threaded
        display block
    &.thread
      -webkit-box-shadow #ebeef2 0 -1px 0 inset
      -moz-box-shadow #ebeef2 0 -1px 0 inset
      -ms-box-shadow #ebeef2 0 -1px 0 inset
      -o-box-shadow #ebeef2 0 -1px 0 inset
      box-shadow #ebeef2 0 -1px 0 inset
      margin 30px 30px 5px 30px
      &:last-child
        -webkit-box-shadow none
        -moz-box-shadow none
        -ms-box-shadow none
        -o-box-shadow none
        box-shadow none
        margin-bottom 0

.comments-list .comment .body ul,.comments-list .comment .body pre
  margin 0 0 7px 0

.comments-list .comment .comments-new-threaded,.comments-list .comment .comments-edit
  display none

.comments-new
  -webkit-box-shadow #ebeef2 0 -1px 0 inset
  -moz-box-shadow #ebeef2 0 -1px 0 inset
  -ms-box-shadow #ebeef2 0 -1px 0 inset
  -o-box-shadow #ebeef2 0 -1px 0 inset
  box-shadow #ebeef2 0 -1px 0 inset
  background #f8fafb
  position relative
  box-sizing border-box
  section
    position relative
    padding 15px 30px
  &:after
    content ''
    position absolute
    left 0
    right 0
    top -4px
    height 4px
    -webkit-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.01) 0 1px 1px
    -moz-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.01) 0 1px 1px
    -ms-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.01) 0 1px 1px
    -o-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.01) 0 1px 1px
    box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.01) 0 1px 1px
  textarea
    height 38px
    min-height 38px
  button
    display none
    position absolute
    bottom 23px
    right 35px
    -webkit-box-shadow none
    -moz-box-shadow none
    -ms-box-shadow none
    -o-box-shadow none
    box-shadow none
    opacity .6
    -webkit-transition 200ms linear opacity
    -moz-transition 200ms linear opacity
    -ms-transition 200ms linear opacity
    -o-transition 200ms linear opacity
    transition 200ms linear opacity
    &:hover
      opacity 1
  form
    &.expanded
      textarea
        min-height 100px
      button
        display block

.comments-new-threaded
  position relative
  padding 15px 0 25px 0
  section
    position relative
  &:after
    content ''
    position absolute
    left 0
    right 0
    top -4px
    height 4px
    -webkit-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
    -moz-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
    -ms-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
    -o-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
    box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
  textarea
    min-height 80px
  button
    position absolute
    bottom 8px
    right 7px
    -webkit-box-shadow none
    -moz-box-shadow none
    -ms-box-shadow none
    -o-box-shadow none
    box-shadow none
    opacity .6
    -webkit-transition 200ms linear opacity
    -moz-transition 200ms linear opacity
    -ms-transition 200ms linear opacity
    -o-transition 200ms linear opacity
    transition 200ms linear opacity
    &:hover
      opacity 1

.overlay
  position absolute
  left 0
  top 0
  bottom 0
  right 0
  z-index 9999
  background #000
  background-image -webkit-gradient(radial,50% 50%,0,50% 50%,100,color-stop(10%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.6)))
  background-image -webkit-radial-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6))
  background-image -moz-radial-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6))
  background-image -o-radial-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6))
  background-image radial-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6))
  background-color rgba(61,67,76,0.7)
  opacity 0
  -webkit-transition 250ms opacity linear
  -moz-transition 250ms opacity linear
  -ms-transition 250ms opacity linear
  -o-transition 250ms opacity linear
  transition 250ms opacity linear
  .panel
    min-height 100px
    box-sizing border-box
    position absolute
    width 500px
    left 50%
    top 50%
    -webkit-box-shadow rgba(0,0,0,0.2) 0 3px 5px,rgba(0,0,0,0.1) 0 0 8px 1px,rgba(0,0,0,0.1) 0 0 0 1px
    -moz-box-shadow rgba(0,0,0,0.2) 0 3px 5px,rgba(0,0,0,0.1) 0 0 8px 1px,rgba(0,0,0,0.1) 0 0 0 1px
    -ms-box-shadow rgba(0,0,0,0.2) 0 3px 5px,rgba(0,0,0,0.1) 0 0 8px 1px,rgba(0,0,0,0.1) 0 0 0 1px
    -o-box-shadow rgba(0,0,0,0.2) 0 3px 5px,rgba(0,0,0,0.1) 0 0 8px 1px,rgba(0,0,0,0.1) 0 0 0 1px
    box-shadow rgba(0,0,0,0.2) 0 3px 5px,rgba(0,0,0,0.1) 0 0 8px 1px,rgba(0,0,0,0.1) 0 0 0 1px
    -webkit-border-radius 5px
    -moz-border-radius 5px
    -ms-border-radius 5px
    -o-border-radius 5px
    border-radius 5px
    overflow hidden
    background-color #fff
    -webkit-animation-name hidePanel
    -webkit-animation-duration 300ms
    -webkit-animation-timing-function ease
    &.feedback
      width 300px
      article
        margin 30px 30px 20px 30px
      input
        margin-bottom 15px
        height 38px
        padding 0 10px
        &:last-child
          margin-bottom 0
      textarea
        min-height 100px
        resize vertical
      footer
        margin 0 30px 30px 30px
      button
        width 100%
        height 34px
        padding 0 14px
        font-size 14px
    &.manifesto
      width 450px
      font-size 15px
      h2
        color #d32626
        font-family "Lily Script One",cursive,"Helvetica Neue",Helvetica,Arials,sans-serif
        font-weight normal
        font-size 24px
        line-height 60px
      p
        margin-bottom 8px
        &:last-child
          margin-bottom 0
      button
        height 30px
        font-size 13px
        padding 0 12px
      article
        margin 20px 30px 0 30px
      footer
        margin 15px 20px 20px 30px
    header
      h2
        font-family "Helvetica Neue",Helvetica,Arials,sans-serif
        font-weight bold
        font-size 15px
        text-align center
        line-height 50px
        margin 0 0 2px 0
        padding 0 10px
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        -o-user-select none
        user-select none
        position relative
        &:after
          content ''
          position absolute
          left 0
          right 0
          bottom 0
          height 4px
          -webkit-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
          -moz-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
          -ms-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
          -o-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
          box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
    article
      margin 20px 30px
    footer
      display -webkit-box
      -webkit-box-orient horizontal
      -webkit-box-align stretch
      -webkit-box-pack start
      display -moz-box
      -moz-box-orient horizontal
      -moz-box-align stretch
      -moz-box-pack start
      -webkit-box-pack end
      -moz-box-pack end
      -ms-box-pack end
      -o-box-pack end
      box-pack end
      margin 0 30px 30px 30px
    &.posts-new
      width 280px
      article
        margin 30px 30px 20px 30px
      input
        margin-bottom 10px
        height 38px
        padding 0 10px
        &:last-child
          margin-bottom 0
      footer
        margin 0 30px 25px 30px
      button
        width 100%
        height 34px
        padding 0 14px
        font-size 14px
    &.shortcuts
      width 370px
      ul
        list-style none
        margin 0 0 10px 0
        padding 0
      li
        margin-left 15px
        code
          width 120px
          padding-right 10px
          margin-right 5px
          display inline-block
          text-align right
          border-right 1px solid #ebeef2
      lh
        display block
        font-weight bold
        margin-bottom 5px
        &:after
          content ':'
    &.users-invite
      width 320px
      p
        margin-bottom 8px
        &:last-child
          margin-bottom 0
      button
        height 32px
        font-size 13px
        padding 0 12px
      form
        display -webkit-box
        -webkit-box-orient horizontal
        -webkit-box-align stretch
        -webkit-box-pack start
        display -moz-box
        -moz-box-orient horizontal
        -moz-box-align stretch
        -moz-box-pack start
        padding 12px 0 8px 0
        input
          -webkit-box-flex 1
          -moz-box-flex 1
          -ms-box-flex 1
          -o-box-flex 1
          box-flex 1
          margin-right 8px
    &.users-invite-authorize
      width 300px
      p
        margin-bottom 8px
        &:last-child
          margin-bottom 0
      footer
        margin 20px 0 25px 0
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-box-align stretch
        display -moz-box
        -moz-box-orient vertical
        -moz-box-align stretch
    &.users-pending
      width 320px
      input[type=email]
        width 180px
        display inline-block
      label
        display block
        span
          font-size 12px
        &:not(:last-child)
          margin-bottom 10px
      button
        height 32px
        font-size 13px
        padding 0 12px
        display inline-block
        margin-left 5px
      p
        margin-bottom 5px
        &.thanks
          display none
          text-align center
          margin-top 20px
          font-weight bold
      form
        margin 20px 0 30px 0
      &.submitted
        p
          &.thanks
            display block
        form
          display none
    &.users-profile
      .loading
        position absolute
        top 45%
        left 50%
        height 20px
        width 20px
        margin -10px 0 0 -10px
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        -o-user-select none
        user-select none
        pointer-events none
        background transparent url("/mobile/ios/activity-indicator.png") no-repeat
        background-size 20px auto
        -webkit-animation loading-sprite 1s step-start infinite
        -moz-animation loading-sprite 1s step-start infinite
        -ms-animation loading-sprite 1s step-start infinite
        -o-animation loading-sprite 1s step-start infinite
        animation loading-sprite 1s step-start infinite
      .avatar
        display block
        position relative
        img
          -webkit-border-radius 3px
          -moz-border-radius 3px
          -ms-border-radius 3px
          -o-border-radius 3px
          border-radius 3px
          display block
          height 48px
          width 48px
        &:before
          content ""
          -webkit-border-radius 3px
          -moz-border-radius 3px
          -ms-border-radius 3px
          -o-border-radius 3px
          border-radius 3px
          -webkit-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          -moz-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          -ms-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          -o-box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          box-shadow rgba(0,0,0,0.08) 0 1px 1px inset
          display block
          height 48px
          width 48px
          position absolute
          left 0
          top 0
      .list
        max-height 260px
        overflow-y auto
        position relative
        &.posts
          min-height 100px
      section
        &.info
          display -webkit-box
          -webkit-box-orient horizontal
          -webkit-box-align stretch
          -webkit-box-pack start
          display -moz-box
          -moz-box-orient horizontal
          -moz-box-align stretch
          -moz-box-pack start
          .meta
            margin-left 15px
            -webkit-box-flex 1
            -moz-box-flex 1
            -ms-box-flex 1
            -o-box-flex 1
            box-flex 1
            span
              display block
      article
        h2
          font-family "Helvetica Neue",Helvetica,Arials,sans-serif
          font-size 12px
          font-weight 700
          text-transform uppercase
          position relative
          line-height 40px
          margin 25px 0 0 63px
          padding 0
          &:after
            content ''
            position absolute
            left 0
            right 0
            bottom 0
            height 4px
            -webkit-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
            -moz-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
            -ms-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
            -o-box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
            box-shadow #ebeef2 0 -1px 0 inset,rgba(0,0,0,0.03) 0 1px 1px
        .list
          .item
            margin-left 65px
            padding 10px 0
  &.active
    opacity 1
    .panel
      -webkit-animation-name showPanel
      -webkit-animation-duration 500ms
      -webkit-animation-timing-function ease
  .posts-body
    header
      overflow hidden
      h2
        a
          color #77808c
          &:hover
            color #2d3440
            text-decoration none
    article
      -webkit-box-flex 1
      -moz-box-flex 1
      -ms-box-flex 1
      -o-box-flex 1
      box-flex 1
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-box-align stretch
      display -moz-box
      -moz-box-orient vertical
      -moz-box-align stretch
      margin 0
    iframe[seamless]
      background-color transparent
      border 0 none transparent
      padding 0
      overflow hidden
    iframe
      -webkit-box-flex 1
      -moz-box-flex 1
      -ms-box-flex 1
      -o-box-flex 1
      box-flex 1
      -webkit-border-radius 0 0 5px 5px
      -moz-border-radius 0 0 5px 5px
      -ms-border-radius 0 0 5px 5px
      -o-border-radius 0 0 5px 5px
      border-radius 0 0 5px 5px

@-moz-keyframes
  showPanel
    0%{opacity 0
    -webkit-transform scale(0.95) translate3d(0,100%,0)
    -moz-transform scale(0.95) translate3d(0,100%,0)
    -ms-transform scale(0.95) translate3d(0,100%,0)
    -o-transform scale(0.95) translate3d(0,100%,0)
    transform scale(0.95) translate3d(0,100%,0)
  loading-sprite
    0%{background-position 0 0

100%
  opacity 1
  -webkit-transform scale(1) translate3d(0,0,0)
  -moz-transform scale(1) translate3d(0,0,0)
  -ms-transform scale(1) translate3d(0,0,0)
  -o-transform scale(1) translate3d(0,0,0)
  transform scale(1) translate3d(0,0,0)
  opacity 1
  -webkit-transform scale(1) translate3d(0,0,0)
  -moz-transform scale(1) translate3d(0,0,0)
  -ms-transform scale(1) translate3d(0,0,0)
  -o-transform scale(1) translate3d(0,0,0)
  transform scale(1) translate3d(0,0,0)
  opacity 1
  -webkit-transform scale(1) translate3d(0,0,0)
  -moz-transform scale(1) translate3d(0,0,0)
  -ms-transform scale(1) translate3d(0,0,0)
  -o-transform scale(1) translate3d(0,0,0)
  transform scale(1) translate3d(0,0,0)
  opacity 1
  -webkit-transform scale(1) translate3d(0,0,0)
  -moz-transform scale(1) translate3d(0,0,0)
  -ms-transform scale(1) translate3d(0,0,0)
  -o-transform scale(1) translate3d(0,0,0)
  transform scale(1) translate3d(0,0,0)
  opacity 1
  -webkit-transform scale(1) translate3d(0,0,0)
  -moz-transform scale(1) translate3d(0,0,0)
  -ms-transform scale(1) translate3d(0,0,0)
  -o-transform scale(1) translate3d(0,0,0)
  transform scale(1) translate3d(0,0,0)
  opacity 0
  -webkit-transform scale(0.98) translate3d(0,0,0)
  -moz-transform scale(0.98) translate3d(0,0,0)
  -ms-transform scale(0.98) translate3d(0,0,0)
  -o-transform scale(0.98) translate3d(0,0,0)
  transform scale(0.98) translate3d(0,0,0)
  opacity 0
  -webkit-transform scale(0.98) translate3d(0,0,0)
  -moz-transform scale(0.98) translate3d(0,0,0)
  -ms-transform scale(0.98) translate3d(0,0,0)
  -o-transform scale(0.98) translate3d(0,0,0)
  transform scale(0.98) translate3d(0,0,0)
  opacity 0
  -webkit-transform scale(0.98) translate3d(0,0,0)
  -moz-transform scale(0.98) translate3d(0,0,0)
  -ms-transform scale(0.98) translate3d(0,0,0)
  -o-transform scale(0.98) translate3d(0,0,0)
  transform scale(0.98) translate3d(0,0,0)
  opacity 0
  -webkit-transform scale(0.98) translate3d(0,0,0)
  -moz-transform scale(0.98) translate3d(0,0,0)
  -ms-transform scale(0.98) translate3d(0,0,0)
  -o-transform scale(0.98) translate3d(0,0,0)
  transform scale(0.98) translate3d(0,0,0)
  opacity 0
  -webkit-transform scale(0.98) translate3d(0,0,0)
  -moz-transform scale(0.98) translate3d(0,0,0)
  -ms-transform scale(0.98) translate3d(0,0,0)
  -o-transform scale(0.98) translate3d(0,0,0)
  transform scale(0.98) translate3d(0,0,0)
  background-position 0 0
  background-position 0 0
  background-position 0 0
  background-position 0 0
  background-position 0 0

}@-webkit-keyframes
  showPanel
    0%{opacity 0
    -webkit-transform scale(0.95) translate3d(0,100%,0)
    -moz-transform scale(0.95) translate3d(0,100%,0)
    -ms-transform scale(0.95) translate3d(0,100%,0)
    -o-transform scale(0.95) translate3d(0,100%,0)
    transform scale(0.95) translate3d(0,100%,0)
  hidePanel
    0%{opacity 1
    -webkit-transform scale(1) translate3d(0,0,0)
    -moz-transform scale(1) translate3d(0,0,0)
    -ms-transform scale(1) translate3d(0,0,0)
    -o-transform scale(1) translate3d(0,0,0)
    transform scale(1) translate3d(0,0,0)
  loading-sprite
    0%{background-position 0 0

}@-o-keyframes
  showPanel
    0%{opacity 0
    -webkit-transform scale(0.95) translate3d(0,100%,0)
    -moz-transform scale(0.95) translate3d(0,100%,0)
    -ms-transform scale(0.95) translate3d(0,100%,0)
    -o-transform scale(0.95) translate3d(0,100%,0)
    transform scale(0.95) translate3d(0,100%,0)
  hidePanel
    0%{opacity 1
    -webkit-transform scale(1) translate3d(0,0,0)
    -moz-transform scale(1) translate3d(0,0,0)
    -ms-transform scale(1) translate3d(0,0,0)
    -o-transform scale(1) translate3d(0,0,0)
    transform scale(1) translate3d(0,0,0)
  loading-sprite
    0%{background-position 0 0

}@-ms-keyframes
  showPanel
    0%{opacity 0
    -webkit-transform scale(0.95) translate3d(0,100%,0)
    -moz-transform scale(0.95) translate3d(0,100%,0)
    -ms-transform scale(0.95) translate3d(0,100%,0)
    -o-transform scale(0.95) translate3d(0,100%,0)
    transform scale(0.95) translate3d(0,100%,0)
  hidePanel
    0%{opacity 1
    -webkit-transform scale(1) translate3d(0,0,0)
    -moz-transform scale(1) translate3d(0,0,0)
    -ms-transform scale(1) translate3d(0,0,0)
    -o-transform scale(1) translate3d(0,0,0)
    transform scale(1) translate3d(0,0,0)
  loading-sprite
    0%{background-position 0 0

}@keyframes
  showPanel
    0%{opacity 0
    -webkit-transform scale(0.95) translate3d(0,100%,0)
    -moz-transform scale(0.95) translate3d(0,100%,0)
    -ms-transform scale(0.95) translate3d(0,100%,0)
    -o-transform scale(0.95) translate3d(0,100%,0)
    transform scale(0.95) translate3d(0,100%,0)
  hidePanel
    0%{opacity 1
    -webkit-transform scale(1) translate3d(0,0,0)
    -moz-transform scale(1) translate3d(0,0,0)
    -ms-transform scale(1) translate3d(0,0,0)
    -o-transform scale(1) translate3d(0,0,0)
    transform scale(1) translate3d(0,0,0)
  loading-sprite
    0%{background-position 0 0

}@-moz-keyframes
  hidePanel
    0%{opacity 1
    -webkit-transform scale(1) translate3d(0,0,0)
    -moz-transform scale(1) translate3d(0,0,0)
    -ms-transform scale(1) translate3d(0,0,0)
    -o-transform scale(1) translate3d(0,0,0)
    transform scale(1) translate3d(0,0,0)

}.overlay
  .posts-body
    top 40px
    right 40px
    bottom 40px
    left 40px
    margin 0 auto
    width auto
    max-width 700px
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-box-align stretch
    display -moz-box
    -moz-box-orient vertical
    -moz-box-align stretch

.app .posts-list h3.empty,.overlay .posts-list h3.empty
  font-size 11px
  font-weight 700
  text-transform uppercase
  text-align center
  margin 15px 0

.app .posts-list .item,.overlay .posts-list .item
  -webkit-box-shadow #d7e1e7 0 -1px 0 inset
  -moz-box-shadow #d7e1e7 0 -1px 0 inset
  -ms-box-shadow #d7e1e7 0 -1px 0 inset
  -o-box-shadow #d7e1e7 0 -1px 0 inset
  box-shadow #d7e1e7 0 -1px 0 inset
  cursor pointer
  display block
  padding 10px 16px
  overflow hidden
  position relative
  white-space nowrap

.app .posts-list .item section,.overlay .posts-list .item section
  display inline-block

.app .posts-list .item .title,.overlay .posts-list .item .title
  font-family 'Open Sans',sans-serif
  font-weight 700
  color #3d525e
  font-size 15px
  white-space normal
  padding-right 45px

.app .posts-list .item .title a,.overlay .posts-list .item .title a
  color #3d525e

.app .posts-list .item .title a:hover,.overlay .posts-list .item .title a:hover
  color #d32626
  text-decoration none

.app .posts-list .item .title a:visited,.overlay .posts-list .item .title a:visited
  color #838c98

.app .posts-list .item .title.visited a,.overlay .posts-list .item .title.visited a
  color #838c98

.app .posts-list .item:hover .title a,.overlay .posts-list .item:hover .title a
  color #d32626
  text-decoration none

.app .posts-list .item .index,.overlay .posts-list .item .index
  vertical-align top
  position relative
  left -1px
  font-family 'Open Sans',sans-serif
  font-weight 700
  white-space normal
  font-size 14px
  color #77808c

.app .posts-list .item time,.overlay .posts-list .item time
  color #77808c
  font-size 11px
  font-weight 700
  position absolute
  right 16px
  top 12px

.app .posts-list .item .meta-point,.overlay .posts-list .item .meta-point
  font-size 12px
  color #77808c

.app .posts-list .item .meta-point a,.overlay .posts-list .item .meta-point a
  color #77808c

.app .posts-list .item .meta-point:after,.overlay .posts-list .item .meta-point:after
  content ' · '
  font-size 13px
  color #77808c
  line-height 1.7em

.app .posts-list .item .meta-point:last-child:after,.overlay .posts-list .item .meta-point:last-child:after
  display none

.app .posts-list .item.active,.overlay .posts-list .item.active
  background-color #f8fafb

}.app .sidebar nav a.popular:active,.app .sidebar nav a.popular.active
  background-repeat no-repeat
  background-image url("/assets/popular-icon-active.png")
  color #d32626

}.app .sidebar nav a.newest:active,.app .sidebar nav a.newest.active
  background-repeat no-repeat
  background-image url("/assets/newest-icon-active.png")
  color #d32626

.app .sidebar input[type="search"]::-webkit-search-decoration,.app .sidebar input[type="search"]::-webkit-search-cancel-button,.app .sidebar input[type="search"]::-webkit-search-results-button,.app .sidebar input[type="search"]::-webkit-search-results-decoration
  display none

.overlay .panel.users-authorize,.overlay .panel.users-invite-authorize
  width 240px
  background-image -webkit-linear-gradient(rgba(255,255,255,0),#f0f2f6 95%,#e5e8ee)
  background-image -moz-linear-gradient(rgba(255,255,255,0),#f0f2f6 95%,#e5e8ee)
  background-image -ms-linear-gradient(rgba(255,255,255,0),#f0f2f6 95%,#e5e8ee)
  background-image -o-linear-gradient(rgba(255,255,255,0),#f0f2f6 95%,#e5e8ee)
  background-image linear-gradient(rgba(255,255,255,0),#f0f2f6 95%,#e5e8ee)

.overlay .panel.users-authorize a.twitter,.overlay .panel.users-invite-authorize a.twitter,.overlay .panel.users-authorize a.github,.overlay .panel.users-invite-authorize a.github
  position relative
  display block
  width 130px
  margin 0 auto
  -webkit-border-radius 5px
  -moz-border-radius 5px
  -ms-border-radius 5px
  -o-border-radius 5px
  border-radius 5px
  -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  box-shadow rgba(0,0,0,0.1) 0 1px 1px,rgba(255,255,255,0.2) 0 1px 0 inset
  font-smoothing antialiased
  background-color #00aced
  cursor pointer
  display block
  font 12px "Helvetica Neue",Helvetica,Arials,sans-serif
  font-weight bold
  height 30px
  padding 0 14px
  text-shadow 0 -1px 0 rgba(0,0,0,0.3)
  color #fff
  line-height 30px
  text-decoration none
  padding-left 38px

.overlay .panel.users-authorize a.twitter:hover,.overlay .panel.users-invite-authorize a.twitter:hover,.overlay .panel.users-authorize a.github:hover,.overlay .panel.users-invite-authorize a.github:hover
  background-image -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.15))
  background-image -moz-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.15))
  background-image -ms-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.15))
  background-image -o-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.15))
  background-image linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.15))

.overlay .panel.users-authorize a.twitter:active,.overlay .panel.users-invite-authorize a.twitter:active,.overlay .panel.users-authorize a.github:active,.overlay .panel.users-invite-authorize a.github:active
  background-image -webkit-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
  background-image -moz-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
  background-image -ms-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
  background-image -o-linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
  background-image linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.08))
  -webkit-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
  -moz-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
  -ms-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
  -o-box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0
  box-shadow rgba(0,0,0,0.1) 0 1px 1px inset,rgba(255,255,255,0.7) 0 1px 0

.overlay .panel.users-authorize a.twitter,.overlay .panel.users-invite-authorize a.twitter
  background-image -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -moz-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -ms-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -o-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  border 1px solid rgba(0,94,128,0.8)
  border-bottom-color #005e80
  border-top-color rgba(0,94,128,0.6)
  margin-bottom 10px

.overlay .panel.users-authorize a.twitter:active,.overlay .panel.users-invite-authorize a.twitter:active
  border-bottom-color rgba(0,94,128,0.6)
  border-top-color #005e80

.overlay .panel.users-authorize a.github,.overlay .panel.users-invite-authorize a.github
  background-image -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -moz-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -ms-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image -o-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-image linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.08) 95%,rgba(0,0,0,0.15))
  background-color #5e6263
  border 1px solid rgba(31,32,33,0.8)
  border-bottom-color #1f2021
  border-top-color rgba(31,32,33,0.6)

.overlay .panel.users-authorize a.github:active,.overlay .panel.users-invite-authorize a.github:active
  border-bottom-color rgba(31,32,33,0.6)
  border-top-color #1f2021

.overlay .panel.users-authorize a:before,.overlay .panel.users-invite-authorize a:before
  display block
  height 18px
  width 18px
  position absolute
  left 7px
  top 5px

.overlay .panel.users-authorize a.twitter:before,.overlay .panel.users-invite-authorize a.twitter:before
  content url("/assets/twitter-logo.png")

.overlay .panel.users-authorize a.github:before,.overlay .panel.users-invite-authorize a.github:before
  content url("/assets/github-logo.png")

.overlay .panel.users-authorize a:after,.overlay .panel.users-invite-authorize a:after
  content ''
  display block
  background-image -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0))
  background-image -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0))
  background-image -ms-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0))
  background-image -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0))
  background-image -webkit-linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0))
  background-image -moz-linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0))
  background-image -ms-linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0))
  background-image -o-linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0))
  background-image linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)),linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0))
  background-size 1px 100%,1px 100%
  background-position 0 0,1px 0
  background-repeat no-repeat,no-repeat
  bottom 0
  left 30px
  position absolute
  top 0
  width 2px

25%
  background-position 0 -60px
  background-position 0 -60px
  background-position 0 -60px
  background-position 0 -60px
  background-position 0 -60px

50%
  background-position 0 -120px
  background-position 0 -120px
  background-position 0 -120px
  background-position 0 -120px
  background-position 0 -120px

75%
  background-position 0 -180px
  background-position 0 -180px
  background-position 0 -180px
  background-position 0 -180px
  background-position 0 -180px

