.sidebar
  header
      a.logo.landing Wikiredis
      button(data-action="showCreateForm") New
    section.list.posts-list.posts-popular.state.active(data-state='popular')

    section.list.posts-list.posts-search.state(data-state='search')
  footer
    .form
      input(name="url", placeholder="URL")
      textarea(name="content", placeholder="Content")
      button(data-action="createPost") Send post
