doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Wikiredis
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/css/wikiredis.css')
    block stylesheet

  body
    .app

      include aside
      block section

    script(src='/js/wikiredis.components.js')
    script(src='/js/wikiredis.0.0.01.js')


    block script
